# Ignore everything
*

# Keep this file
!.gitignore

# =========================
# KONKRÉTNE SÚBORY
# =========================
!GS_postup_statistika.docx
!GS_postup_statistika.pdf
!PVSO_zad_4.pdf

# =========================
# KONKRÉTNE PRIEČINKY
# =========================
!Trening_auticko/
!Trening_auticko/**

!Trening_bike/
!Trening_bike/**
